checkpoints/controlnext.safetensors
checkpoints/unet.safetensors
checkpoints/dwpose/dw-ll_ucoco_384.onnx
checkpoints/dwpose/yolox_l.onnx
models/resources/weights/checkpoint_GlueStick_MD.tar
models/resources/weights/superpoint_v1.pth
models/SEARAFT/models/Tartan-C-T-TSKH-kitti432x960-M.pth
